/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wht@300;400;500;600;700&display=swap');


/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 6rem;

  /*========== Colors ==========*/
  /* Color mode HSL(hue, saturation, lightness) */
  --first-color: #35063e;
  --title-color: white;
  --text-color: grey;
  --body-color: black;
  --container-color: #2c2929;
  --border-color: white;

  /*========== Font and typography ==========*/
  /* .5rem = 8px | 1rem = 16px ... */
  --body-font: 'Poppins', sans-serif;
  --second-font: 'Montserrat', sans-serif;

  --big-font-size: 4.5rem ;
  --h1-font-size: 3.75rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --normal-font-size: 1.125rem;
  --small-font-size: 1rem;
  --smaller-font-size: 0.875rem;

  /*========== Font weight ==========*/
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;
  --weight-900: 900;

  /*========== Transition ==========*/
  --transition: cubic-bezier(0.05, 0.2, 0.1, 1);

  /*========== Border Radius ==========*/
  --radius: .5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --h2-font-size: ;
    --h3-font-size: ;
    --normal-font-size: ;
    --small-font-size: ;
    --smaller-font-size: ;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input,
textarea,
body {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-300);
}

body {
    background-color: var(--body-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--weight-700);
}


/*=============== REUSABLE CSS CLASSES ===============*/

.container{
    max-width: 1260px;
    margin-inline: auto;
    padding-inline: 0.7rem;
}

.grid{
    display: grid;
    gap: 1.75rem;
}


/*=============== HEADER & NAV ===============*/

.header {
    background-color: var(--container-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--z-fixed);

}

.nav,
.nav__list,
.nav__socials {
    display: flex;
}

.nav {
    height: calc( var(--header-height) + 1.5rem);
    align-items: center;
    justify-content: space-between;
    column-gap: 3.5rem;
}

.nav__logo {
    color: var(--title-color);
    font-size: 2.5rem;
    font-weight: var(--weight-700);

}

.nav__list {
    column-gap: 2rem;
    list-style: none;
}

.

/* Active link */

/* Change background header */

/*=============== HOME ===============*/

.home{
    padding-block: 16rem 9rem;

}

.home__container {
    grid-template-columns: 7fr 2fr;
    align-items: center;
    gap: 2rem;
}

.home__title{
    font-family: var(--second-font);
    font-size: var(--big-font-size);
    font-weight: var(--weight-900);
}

.home__title span {
    color: var(--first-color);
}

.home__img {
    width: 420px;
    height: 420px;
    border-radius: 50%;
    border: 0.75rem solid var(--container-color);
    margin-left: auto;
}




/*=============== ABOUT ===============*/

/* Active tab */

/*=============== SERVICES ===============*/

/*=============== WORK ===============*/

/* Work hover */

/*=============== CONTACT ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL UP ===============*/

/* Show scrollup */

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

/* For medium devices */
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
}
